<article>
  <h1>{{model.name}}</h1>
  <h5>id:{{model.id}}</h5>
  {{#if model.fork}}
    <h6>This is a fork</h6>
  {{/if}}
  <section>
    <p>Description: {{model.description}}</p>
    <p>Created At: {{model.created_at}}</p>
    <p>Last Updated: {{model.updated_at}}</p>
    <p>Clone: {{model.clone_url}}</p>
    <p>Language: {{model.language}}</p>
  </section>
</article>
